
footer{
    color: $color-texto; /*variable*/
    text-align: center;
    padding: top 10px;
    padding-bottom: 3%;
    font-family: 'Open Sans', sans-serif;
    height: 100px;
    padding-top: 4%;
    background-image: linear-gradient(to top, rgb(155, 119, 51), black);
    a{

        p{
            font-family: 'Open Sans', sans-serif;
    }
}
}