header {
    background-color: $color-principal;
    nav {
        display: flex;
        ul {
            @extend %flexboxRow;
            li {
                a {
                    color: $color-texto;
                    /*variable aplicada*/
                }
            }
        }
    }
    .botones {
        @include botones(20, 20)
    }
}